---
layout: default
ytembedid: tEck0hC5k90 
song: 2RAK005
artist: Bracket
---
{% for post in site.posts limit:1 %}
<div class="item">
  <div style="display: flex; flex-direction: row; align-items: center">
    <img src="https://file.garden/Ze88s1ucmRDZDhMX/pixels/043.gif">
    <span style="text-shadow: 1px 1px 5px magenta;">LATEST BLOG POST</span>
    <img src="https://file.garden/Ze88s1ucmRDZDhMX/pixels/043.gif">
  </div>
  <div class="close">X</div>
  <div class="main_content" style="overflow: hidden;">
    <a href="{{ post.url }}" style="color: white; text-decoration: none;">
      <img src="/img/posts/thumbnails/{{ post.thumbnail }}" style="margin: 10px; display: block; height: 10vh; width: auto;float: left; object-fit: cover;">
      <h3 style="margin-bottom: 2px; padding-bottom: 0;">{{ post.title }}</h3>
      <p style="margin: 0;">{{ post.date | date: "%d %B %Y" }}</p>
      <div style="margin: 5px 0;">
        {% for tag in post.tags %}
          <span class="tag">{{ tag }}</span>
        {% endfor %}
      </div>
    </a>
  </div>
</div>
{% endfor %}
<div class="item">
  <span class="title">About Me</span>
  <div class="close">X</div>
  <div class="main_content">
    <p>Yo. thanks for stopping by! this site is under construction and probably won't ever be completely done.</p>
    <h2>This is my love letter to the internet i fell in love with.</h2>
    <p>I'm a cybersec professional that's been touching computers ever since i was 4. i love reading and i love listening to AND making music. i play the drums since i was 11 and i recently got into playing bass because of Scott Pilgrim (and i suck ass at it, but i love every second)</p>
    <p>I'm a huge nerd. always have been. i am extremely interested in electronics, in gaming, programming, hacking, fantasy, sci-fi, etc.</p>
    <audio id="ralsei-splat" src="https://www.myinstants.com/media/sounds/ralsei-splat.mp3" preload="auto"></audio>
    <img src="img/ralsei.png" style="height: 56px; width: auto; position: absolute; right: 0; top: 0;" onclick="document.getElementById('ralsei-splat').play();">
    <audio id="susie-laugh" src="https://www.myinstants.com/media/sounds/susie-laugh.mp3" preload="auto"></audio>
    <img src="https://media.tenor.com/tBI3FQgv0wsAAAAi/susie-deltarune.gif" style="height: 64px; width: auto; position: absolute; right: 64px; top: -24px;" onclick="document.getElementById('susie-laugh').play();">
  </div>
</div>
<div class="item">
  <span class="title">wut.cmd</span>
  <div class="close">X</div>
  <div class="main_content">
    <div class="scroll" style="--t:20s">
      <div>
	{% for item in site.data.wut %}
	  {% if item.link %}<a href="{{ item.link }}">{% endif %}<img src="{{ item.img }}">{% if item.link%}</a>{% endif %}
	{% endfor %}
      </div>
      <div>
        {% for item in site.data.wut %}
	  {% if item.link %}<a href="{{ item.link }}">{% endif %}<img src="{{ item.img }}">{% if item.link%}</a>{% endif %}
        {% endfor %}
      </div>
    </div>
  </div>
</div>
<div style="display: flex; flex-direction: row; gap: 5px; align-items: flex-start;">
  <div class="item" style="flex-grow: 1; flex-basis: 35%;">
    <span class="title">lol.exe</span>
    <div class="close">X</div>
    <div class="main_content">
      <a href="https://www.youtube.com/watch?v=xvFZjo5PgG0"><img src="img/tusob.png" style="width: 100%; height: auto; object-fit: contain;"></a>
    </div>
  </div>
  <div class="item" style="flex-grow: 3; flex-basis: 67%;">
    <span class="title">lmao.exe</span>
    <div class="close">X</div>
    <div class="main_content">
      <img src="https://img.wattpad.com/605b17e6963e193bf8e616abcc5031b06290a0c1/68747470733a2f2f73332e616d617a6f6e6177732e636f6d2f776174747061642d6d656469612d736572766963652f53746f7279496d6167652f6867644a7052575a4e394c4363413d3d2d3835343839313531352e313566666132666134613366633233313739333238383338343335382e6a7067" style="width: 100%; height: auto; object-fit: contain">
    </div>
  </div>
</div>
