<table id="changelog">
  <tr>
    <td>11-11-2025</td>
    <td>New post!</td>
  </tr>
  <tr>
    <td>10-11-2025</td>
    <td>
      <ul>
        <li>Added PNID nickname to socials</li>
        <li>Replaced Games page with my Backloggd</li>
        <li>Included Latest Post ref to home page</li>
      </ul>
    </td>
  </tr>
  <tr>
    <td>01-11-2025</td>
    <td>
      <ul>
        <li>Made changelog look more presentable</li>
        <li>Tweaked column spacing</li>
      </ul>
    </td>
  </tr>
  <tr>
    <td>27-10-2025</td>
    <td>
      <ul>
        <li>Changed main background for the page</li>
        <li>Changed marquee from simple deprecated marquee tag to infinte marquee in CSS</li>
        <li>Dynamic changelog implemented</li>
      </ul>
    </td>
  </tr>
  <tr>
    <td>25-10-2025</td>
    <td>New drum covers on Music Page!</td>
  </tr>
  <tr>
    <td>24-10-2025</td>
    <td>Photos uploaded from October 23rd</td>
  </tr>
  <tr>
    <td>22-10-2025</td>
    <td>
      <ul>
        <li>Photos upload from October 21st.</li>
        <li><blink>Uploaded a new blog post!</blink></li>
      </ul>
    </td>
  </tr>
  <tr>
    <td>20-10-2025</td>
    <td>Photos uploaded from October 19th</td>
  </tr>
  <tr>
    <td>15-10-2025</td>
    <td>
      <ul>
        <li>Initial version of a "Games" page for my game collection.</li>
        <li>Uploaded site to GitHub. Deployments are now done via GitHub actions. Plans to migrate to a local GitLab instance may be in order.</li>
        <li>Started a little blog!</li>
      </ul>
    </td>
  </tr>
  <tr>
    <td>13-10-2025</td>
    <td>
      <ul>
        <li>Added a ref to status.cafe via an RSS feed. Consult credits for more information</li>
        <li>Added a 88x31 button banner on the home page.</li>
      </ul>
    </td>
  </tr>
  <tr>
    <td>10-10-2025</td>
    <td>
      <ul>
        <li>Added photos to the photos page.</li>
        <li>Added "Vinland Valley" to the projects page.</li>
        <li>Implemented credits page.</li>
      </ul>
    </td>
  </tr>
  <tr>
    <td>09-10-2025</td>
    <td>
      <ul>
        <li>Added some decorations on the home page</li>
        <li>Added a footer to all pages</li>
        <li>Added my drum covers to the Music page</li>
      </ul>
    </td>
  </tr>
  <tr>
    <td>08-10-2025</td>
    <td>Implemented guestbook, changelog, calendar, music player, flag counter, site button and socials bar.</td>
  </tr>
</table>
