---
layout: default
---
<div class="window active glass">
  <div class="title-bar">
    <div class="title-bar-text">{{ page.url }}</div>
    <div class="title-bar-controls">
      <button aria-label="Minimize"></button>
      <button aria-label="Maximize"></button>
      <button aria-label="Close"></button>
    </div>
  </div>
  <div class="window-body has-space" style="overflow: hidden;">
    <h1 style="margin-bottom: 1px;">{{ page.title }}</h1>
    <span>Published on {{ page.date | date: '%B %d, %Y, %H:%M:%S %Z'}}</span>
    <hr style="margin-top: 1px;">
    {{ content }}
  </div>
</div>
